*
{
margin: 0;
padding: 0;
}
/*----NAVIGATION BAR-----*/
#nav-bar
{
	position: sticky;
	top: 0;
	z-index: 10;
background-image: linear-gradient(rgba(0.2,0,0,0.2),rgba(0.2,0,0,0.2));
	background-size: cover;
	background-position: center;
	color: #efefef !important;
	background-attachment: fixed;
}
.navbar-brand img
{
	height: 80px;
	padding-left: 40px;	
}
.navbar-nav li
{
	padding: 0 10px;
}
.navbar-nav li a
{
	float: right;
	text-align: left;	
}
#nav-bar ul li a:hover
{
	color: #007bff!important;
	
}
.navbar
{
	background: fff;
}
.navbar-toggler
{
	border: none!important;
}
.nav-link
{
	color: #555!important;
	font-weight: 600;
	font-size: 16px;	
}
/*---ABOUT----*/
#about
{
	padding-top: 50px;
	padding-bottom: 50px;
	color: 555;
}
#about .btn
{
	margin-top: 20px;
	margin-bottom: 30px
}
/*--------SERVICES-------*/
#services
{
	background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(service.jpg);
	background-size: cover;
	background-position: center;
	color: #efefef !important;
	background-attachment: fixed;
	padding-top: 50px;
	padding-bottom: 50px;
}
#services h2
{
	text-align: center;
	color: #efefef !important;
	padding-bottom: 10px;
}
#services h2::after
{
	content: '';
	background: #efefef;
	display: block;
	height: 3px;
	width: 170px;
	margin: 20px auto 5px;
}
#services p
{
	font-size: 14px;
	margin-top: 20px;
	color: #ccc;
}
.services .col-md-3:hover{
	background: #007bff;
	cursor: pointer;
	transition: 0.7s;
}
/*-----Contact-------*/
#contact
{
	background: #efefef;
	padding-top: 40px;
	padding-bottom: 40px;
	color: #777;
}
contact-form
{
	padding-top: 10px;
	margin: 15px;
	
}
.form-control
{
	border-radius:0 !important;
	border: none !important;
}
::placeholder
{
	color: #999 !important;
}
.follow
{
	background:#fff;
	padding: 10px;
	margin: 15px;
	
}
.contact-info .fab
{
	margin: 10px;
	color: #007bff;
	font-weight: bold;
}
.from-group 
{
	margin: 10px;
	color: #007bff;
	font-weight: bold;
}
#contact h2
{
	text-align: center;
	color: 555 !important;
	padding-bottom: 10px;
}
